In [3]:
import pandas as pd

# Load and inspect the dataset

In [23]:
data = {'Name': ['Mdi', 'Umar', 'Abdullahi', 'Hassan', 'Sani'],'Age': [25,None,35,38,50],'City': ['New York', 'Lagos', 'Kigali', 'None', 'Paris'],'Gender': ['Male', 'None', 'Male', 'None', 'Female'],'Height': [1.4,None,1.3,1.6,1.7]}
df = pd.DataFrame(data)

In [24]:
print(df.head())

   Name   Age      City  Gender  Height
0  John  25.0  New York    Male     1.4
1   Sam   NaN     Lagos    None     NaN
2  Mike  35.0    Kigali    Male     1.3
3  Jude  38.0      None    None     1.6
4  Mary  50.0     Paris  Female     1.7

# Identifying missing values

In [25]:
missing_values = df.isnull().sum()
print(missing_values)

Name      0
Age       1
City      0
Gender    0
Height    1
dtype: int64

# identifying numerical columns

In [32]:
numerical_columns = df.select_dtypes(include='number').columns

# choose appropriate data imputation method
use mean imputation for numerical columns

In [33]:
df_filled = df.copy()

# for columns in numerical_columns

In [37]:
for column in numerical_columns:
 mean_value = df[column].mean()
 df_filled[column].fillna(mean_value,inplace=True)
print(df_filled)

   Name   Age      City  Gender  Height
0  mdi  25.0  New York    Male     1.4
1   sani  37.0     Turkey    None     1.2
2  Mike  35.0    Kenya    Male     1.3
3  bilya  38.0      None    None     1.6
4  Mary  50.0     Paris  Female     1.7